﻿@{
    ViewData["Title"] = "Z's Pizzas";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Z's!</h1>
    If you are testing this for the first time you can login with 
    First Name: Initial
    Last Name: Sample
    This is just a sample, and is not backed by a proper database in order to make it faster and easier to start 
    testing. Rather, this writes its data using BinaryFormatter tothe installation directory inside a Dat folder. If you 
    want to restart any given table, simply delete its corresponding file. Each table supported so far will create its 
    own file named appropriately. If you have any questions, feel free to contact the original author (Kevin Zemon) and 
    he would behappy to assist you.
</div>