﻿@using System.IO
@using TypesZsPizzas.Types
@using WebZsPizzas.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebZsPizzas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebZsPizzas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            <ul class="nav navbar-nav navbar-right">

                @if (Context.Session.TryGetValue(SessionKeys.User, out var employee))
                {
                    await using var memoryStream = new MemoryStream(employee);
                    var user = (Employee)Formatter.BinaryFormatter.Deserialize(memoryStream);
                    if (user._EmployeeType is Employee.EmployeeType.Manager)
                    {
                        <li style="padding-right: 20px">@Html.ActionLink("Employee Management", "DisplayEmployees", "User") </li>
                    }
                    <li style="padding-right: 20px">@Html.ActionLink("Logout", "Logout", "User") </li>
                    <li> @Html.ActionLink($"{user.FirstName} {user.LastName}", "", null, new {id = "Username"})</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                }
            </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - WebZsPizzas
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src='@Url.Content("~/lib/jquery/dist/jquery.js")' type="text/javascript"></script>    
<script src='@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")' type="text/javascript"></script>
<script src='@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")' type="text/javascript"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>