@using TypesZsPizzas.Types
@model EmployeeVM

@using (Html.BeginForm("CreateEmployee", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Compensation)
        @Html.TextBoxFor(model => model.Compensation)
        @Html.ValidationMessageFor(model => model.Compensation)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model._EmployeeType)
        <select asp-for="_EmployeeType" asp-items=@Html.GetEnumSelectList(typeof(Employee.EmployeeType))></select>
        @Html.ValidationMessageFor(model => model._EmployeeType)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}