@model IReadOnlyCollection<TypesZsPizzas.Types.Employee>

@{ ViewBag.Title = "Employee Management"; }

<h3 class="text-danger">@ViewBag.Message</h3>

<div class="container" summary="List of all employees.">
    <div class="row">
        @await Html.PartialAsync("CreateEmployee", new EmployeeVM())
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-2">@Html.LabelFor(model => model.First().FirstName)</div>
        <div class="col-2">@Html.LabelFor(model => model.First().LastName)</div>
        <div class="col-2">@Html.LabelFor(model => model.First()._EmployeeType)</div>
        <div class="col-2">@Html.LabelFor(model => model.First().Compensation)</div>
    </div>

    @foreach (var employee in Model)
    {
        <div class="row">
            @await Html.PartialAsync("SingleEmployee", employee)
        </div>
    }
</div>