@model WebZsPizzas.Models.EmployeeVM

@{ ViewBag.Title = "Login"; }

<br/>
<h3 class="text-danger">@ViewBag.Message</h3>
<h3 class="text-danger"></h3>

@using (Html.BeginForm("Login", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new {id = "UsernameField"})
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <button type="submit" class="btn-primary">Login</button>
}