@model TypesZsPizzas.Types.Employee

<div class="col-2">@Html.DisplayFor(model => model.FirstName)</div>
<div class="col-2">@Html.DisplayFor(model => model.LastName)</div>
<div class="col-2">@Html.DisplayFor(model => model._EmployeeType)</div>
<div class="col-2">@Html.DisplayFor(model => model.Compensation)</div>
<div class="col-2">@Html.ActionLink("Update", "UpdateEmployee", "User",
                                   new {id = Model.ID}, null)</div>

