@using TypesZsPizzas.Types
@model EmployeeVM

@{ ViewBag.Title = "Update Employee"; }

<h3 class="text-danger">@ViewBag.Message</h3>

@using (Html.BeginForm("UpdateEmployee", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.ID)
        @Html.TextBoxFor(model => model.ID, new {@readonly = "readonly"})
        @Html.ValidationMessageFor(model => model.ID)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Enabled)
        @Html.CheckBoxFor(model => model.Enabled)
        @Html.ValidationMessageFor(model => model.Enabled)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Compensation)
        @Html.TextBoxFor(model => model.Compensation)
        @Html.ValidationMessageFor(model => model.Compensation)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model._EmployeeType)
        <select asp-for="_EmployeeType" asp-items=@Html.GetEnumSelectList(typeof(Employee.EmployeeType))></select>
        @Html.ValidationMessageFor(model => model._EmployeeType)
    </div>

    <button type="submit" class="btn btn-warning">Submit</button>
}
<br/>